/*
Name:夜晚专用CSS
Version: 0.6 (06.04.2008)
Author: Nikita Vasilyev
Description: http://usercss.ru/styles/night/
             http://usercss.com/styles/night/
*/

html {
	background:#141414 !important;
	}
html * {
	background: none !important;
	color:#919390 !important;
	border-color:#aa2525 !important;
	border-width:0 !important;
	}

html a, 
html a * {
	color:#327cab !important; 
	}
html a:visited, 
html a:visited *, 
html a:active,
html a:active * {
	color:#aa6b80 !important
	}
html a:hover,
html a:hover * {
	color:#94d2ca !important; 
	background:#141414  !important; 
	}	

html input, 
html select, 
html button,
html textarea {
	background:#201A1A !important;
	border: 1px solid #5c5a46 !important;
	border-top-color: #474531 !important;
	border-bottom-color: #7a7967 !important;
	}
html input[type=button], 
html input[type=submit], 
html input[type=reset], 
html input[type=image], 
html button {
	border-top-color: #7a7967 !important;
	border-bottom-color: #474531 !important;	
	}

html input:focus, 
html select:focus,
html option:focus,
html button:focus,
html textarea:focus {
	background:#5c5b3e !important;
	color:#fff !important;
	border-color: #474100 #665d00 #7a7849 !important;
	/*border-top-color: #5c5400 !important;*/
	outline: 2px solid #041d29 !important;
	}

html input[type=button]:focus, 
html input[type=submit]:focus, 
html input[type=reset]:focus, 
html input[type=image]:focus, 
html button:focus {
	border-color: #7a7849 #665d00 #474100 !important;
	}	

html input[type=radio] {
	background:none !important;
	border-color:#aa2525 !important;
	border-width:0 !important;
	}

html img[src],
html input[type=image] {opacity:.6}


html, 
html body {
	scrollbar-base-color: #141414 !important;
	scrollbar-face-color: #5c5b3e !important;
	scrollbar-shadow-color: #5c5b3e !important;
	scrollbar-highlight-color: #5c5b3e !important;
	scrollbar-darkshadow-color: #474531 !important;
	scrollbar-track-color: #141414 !important;
	scrollbar-arrow-color: #000 !important;
	scrollbar-3dlight-color: #7a7967 !important;
	}

/* Link shadows */
/*
@media screen and (min-width: 128px) {
	html a:hover,
	html a:hover * {
		background-color: #aa2525 !important; 
		text-shadow: 0 0 1em #023 !important; 
		}
}
*/



/* Something ugly */
/*
html textarea, 
html select, 
html input {
	scrollbar-base-color: #141414!important;
	scrollbar-face-color: #141414 !important;
	scrollbar-shadow-color: #141414!important;
	scrollbar-highlight-color: #474531 !important;
	scrollbar-dlight-color: #7a7967 !important;
	scrollbar-darkshadow-color: #7a7967 !important;
	scrollbar-track-color: #141414!important;
	scrollbar-arrow-color: #000 !important;
	scrollbar-3dlight-color: #5c5a46 !important;
	}
*/