@charset "utf-8";
/*
Name: User
Version: 1.0.0 (2009-7-25)
Description: (自定义)全局样式表,	其中包括 Xtpeak 的通用配置
*/

p{margin-top: 1em;margin-bottom: 1em;line-height:150%}

/* xun6 网盘直接显示下载按钮 */
#downloadlink{display:block !important;}

/* 输入框类chrome高亮.*/
input:focus,textarea:focus,select:focus{box-shadow: 0px 0px 10px #3298FE!important;outline:1px solid rgba(255,0,0,0.1)!important;border-radius:3px !important;}

/*Discuz7*/
.newselect#typeid_selectmenu:nth-child(3){position: relative!important;}
#homegrids_t img{max-width:296px!important;height:auto!important;}

/*图片垂直居中*/
body>img[class]{position:static !important;}
bodu>img[id]{position:static !important;}

/*图片最大尺寸
img{max-width:680px !important;}*/

/*thunder*/
a[href="#"]{-o-link:attr(thunderHref) !important; -o-link-source:current !important;}
a[onClick^="ConvertURL2FG"]{-o-link:attr(fg) !important; -o-link-source:current !important;}

/*打印
@media print { a:link:after, a:visited:after {  content: " ("attr(href)")";font-size: 8pt;font-weight: normal;text-decoration: none;font-family: Courier New,Monospaced;}}*/

/*特效*/
/*:link:hover img,a:hover[href^=javascript], a:hover[onclick],iframe:hover,object:hover,embed:hover{opacity:1;outline: 1px solid ActiveCaption;}
:visited:hover img,a:visited:hover{background-color: rgba(29,163,63,.6)#CDF !important; outline: 1px solid InactiveCaption !important;}
*/
/******************************************************************/


/* Gmail Tasks */
div[class="f"]>textarea.l{min-height:300px !important;}
col.I{width:300px !important;}

/* Discuz AD */div[class="a_pt"]>a,
/* http://cn.mail.yahoo.com */ #northbanner,#ygmauser,#swads,#ygmabot,
/* Gmail ad */
div[class$="adC"]>div[class="nH"]>div[class="nH"],

html[class="dapenti.com"] div[id="center"][class="box4"]>div[align="center"],
html[class="dapenti.com"] .oblog_text>table[width="600"],
/* display none botton ad for dapenti.com */#gsr #subform_ctrl,div[id^='tanxssp_con_mm_'],
/* 必应屏幕取词*/#bingCW_ht_footer,div#main div.tips
 {display:none !important;}

#search{padding:3px 0 !important}
#top-bar{height:auto !important;}

small.ua{color:#ccc !important;text-align:right}

/* html{background-color:transparent !important} */

.system_error>div{display:block !important;}

/* http://grepcode.com/project/ */
#entity-view-main{width:auto !important;}

/* google search double column */
#mn>tbody>tr>th:nth-child(2){width:100% !important;}
#ires ol{overflow:hidden}
#ires li.g{clear:none !important;float:left;width:49%;border-bottom: 1px solid #EEE;padding:0 !important;min-height:106px;}

/* widget.weibo.com iframe height fixed */
html[class$="widget.weibo.com"] .weiboShow_main_feed{height:auto !important}
html[class$="widget.weibo.com"] #pl_weibo_show{height:auto !important}

.div_body{overflow:hidden;}

/* panoramio.com show maps */
html[class$="www.panoramio.com"] #photo-col{width:auto !important}
html[class$="www.panoramio.com"] #info-col{display:block !important}
html[class$="www.panoramio.com"] #info-col .interim-info-card{width:auto !important}
html[class$="www.panoramio.com"] #minimap1{width:auto !important;height:600px !important;}

