/*
 * Name: ADBlocker css3
 * Description: 隐藏一些通用的广告元素
*/

/* CSS 3 属性选择器
E[att^=”val”]	属性att的值以"val"开头的元素
E[att$=”val”]	属性att的值以"val"结尾的元素
E[att*=”val”]	属性att的值包含"val"字符串的元素
*/

#ad_headerbanner,
.ad_column,
.ad-banner,
.ad-sub,
#flashad,
*[id*="ad_text"],
*[class*="ad_text"],
div[id^="ad"],
div[id^="AD"],
div[id^="adv"],
div[id^="ADV"],
div[class^="ad_"],
div[id^="ad_"],
div[id$="_ad"],
div[class$="_ad"],
div[id^="ads_"],
div[class^="ads_"],
div[id$="_ads"],
div[class$="_ads"],
*[class*="ads"],
div[id$="ads"],
div[id^="adv_"],
div[id^="ad"],
div[class^="adv_"],
div[id$="_adv"],
div[class$="_adv"]
,#ad
,div[class="post-top-ad"]
,div[class="gg_single"]
,div[class="ad^"]
,div[class^="ad_"],div[id^="ad_"],div[id$="_ad"],div[class$="_ad"],div[id^="ads_"],div[id="adbottom"],div[id="adtop"],div[class^="ads_"],div[class^="adv_"],div[class^="adText_"],div[class="bannerad"],div[id^="Ad"]
,div[class$="_ad"],div[class^="A_ad"],div[id^="AD"],div[id^="Bar"],div[id^="Float"],div[class="adSpace"],.adnpace
/* greendown.cn */
,div[class*="ad-"]
/* cn.yahoo.com */
,div[class*="-ad-"]
/* google Ads */
,div[class*="img-gg"]
,div[class*="-gg-"]
/* Gmail 隐藏广告 */
,div[class="nH"]>div[class="nH"]>div[class="u5"]
,div[id*="popup"]
,iframe#frm_tt1
{display:none !important;}

/* 雅虎广告隐藏 */
.yahoocom #northbanner,.yahoocom #rads,.yahoocom #ygmauser a{ display:none !important;}

#feed-pyv-container{ display:none !important;}

.div_body{overflow:hidden;}

/*ad*/
[id*="_ad_"]/*百度贴吧*/,[class$="Ad"]/*gmail信件*/,[id$="Ad"],[id$="_ad"],[class$="_ad"],[class*="_ad_"],[id^="ad_"],[class^="ad_"],.advleft,.advright,#topad,[class^="topAD"],[id*="alimama"],[id^="ADV_"],[class^="banner"],#adframe,#ShowQQ,[id*="y_ad"],.LeftBanner,.RightBanner,#focusflash.visible,[id*="ZoneAD"],[class^="rAd_"],[id^="rAd_"],[id*="topads"],[id*="topAd"],[id*="_ads_"],[id$="_ads"],[id^="ads_"],[class*="_ads_"],[class$="_ads"],[class^="ads_"],[class*="adBox"],[id*="adBox"],[name*="_ad_"],[name$="_ad"],[name^="ad_"],[name*="_ads_"],[name$="_ads"],[name^="ads_"],[id^="ad0"],#ShowAD,[id^="lovexin"],[id^="AD1"],[id*="sogou"],[class*="sogou"],[name*="sogou"],[id$="postads"],#eteUnionUpFloat,[id^="SpanAD"],[id^="ad0"],[id^="ad1"],[id^="ad2"],[id^="ad3"],[id^="ad4"],[id^="ad5"],[id^="ad6"],[id^="ad7"],[id^="ad8"],[id^="ad9"],[class^="ad0"],[class^="ad1"],[class^="ad2"],[class^="ad3"],[class^="ad4"],[class^="ad5"],[class^="ad6"],[class^="ad7"],[class^="ad8"],[class^="ad9"],#AdsT,#rightAd,#leftAd,form[action*="http://www.google.cn/custom"],[class*="adsense"],[id*="adsense"],#ad,#adkeyword,[id^="AdZ"],[class^="AdZ"],[id^="ad_"][class^="ad_"],#adbottom,#FrameWinLayer,.t_signature,.topads,[class^="AD0"],[class^="AD1"],[class^="AD2"],[class^="AD3"],[class^="AD4"],[class^="AD5"],[class^="AD6"],[class^="AD7"],[class^="AD8"],[class^="AD9"],[class^="txtad"],.Banner1,#adtop,.mainad,[class^="Adflash"],[id^="Adflash"],[id^="adbanner"],[class^="adbanner"],.ad,.Ad,.AD,#ad,#Ad,#AD,[class^="AdLayer"],[id^="AdLayer"],[class^="ADLayer"],[id^="ADLayer"],[class*="content ad-"],[id*=_ADRIGHT_],[id^="AdF"],[id^="Ads0"],[id^="Ads1"],[id^="Ads2"],[id^="Ads3"],[id^="Ads4"],[id^="Ads5"],[id^="Ads6"],[id^="Ads7"],[id^="Ads8"],[id^="Ads9"],[class^="Ads0"],[class^="Ads1"],[class^="Ads2"],[class^="Ads3"],[class^="Ads4"],[class^="Ads5"],[class^="Ads6"],[class^="Ads7"],[class^="Ads8"],[class^="Ads9"],[id$="_ADRIGHT"],#Advertisement,.Advertisement,[id*="followDiv"]
/*,.signature,#signature,.signatures,#signatures*/
,[name$="_ads"],.areaAd,#areaAd,[class^="adlist"],[class$="picAd"],.ADbox,#postleaderboardad,[class*="_ADBANNER_"],[id*="_ADBANNER_"],#ShowADs,.ads,#ads,#adswrap,.adswrap,[id^="adright"],[id^="adleft"],[class^="adright"],[class^="adleft"],[id^="admiddle"],[id^="admiddle"],[class^="admiddle"],[class^="admiddle"],#adshow,.adshow,[class*="_banner_"],[id*="_banner_"],div[id^="popDiv_"],.ggSideBox,[id$="_gg"],[class$="_gg"],.adbox,[class^="adv9"],#fullAD,.gg,.gg01,.gg02,.gg03,.gg04,.gg05,#PageRigntAds,[id$="Adv"],[class*="ad-banner"],.adFrame,#adFrame,MAP>AREA[href*="/qq."],.gg360,[class^="adcol"],[class$="_banner"],[class^="adL"],[class^="adR"],[class$="_banad"],

/*网站*/
[href*="/ads/"],[src*="/ads/"],[href*="/adpuba/"],[src*="/adpuba/"],[href*="/adjs/"],[src*="/adjs/"],[href*="/ma.baidu.com/"],[src*="/ma.baidu.com/"],[src*="?adid="],[href*="?adid="],[href*="/ad/"],[src*="/ad/"],[href*="/ads/"],[src*="/ads/"],#adbox,[href*="/ad."],[src*="/ad."],[href*="/ads."],[src*="/ads."],[href*="//classad."],[src*="//classad."],[href*="//cpc.163"],[src*="//cpc.163"],[href*="baidu?tn="],[href*="_banner_"],[href*="//gimg.baidu."],[src*="//gimg.baidu."],[href*="//ma.baidu."],[src*="//ma.baidu."],[href*="/mopgg."],[href*="/baidu.php?url="],[src*="/mopgg."],[href*="/union."],[src*="/union."],[href*=".union."],[src*=".union."],[href*="3721."],[src*="3721."],[href*="/ad."],[src*="/ad."],[href*="-ad."],[src*="-ad."],[href*="-ads."],[src*="-ads."],[href*="-banner"],[src*="-banner"],[href*=".ad."],[src*=".ad."],[href*=".ad/"],[src*=".ad/"],[href*=".adlink."],[src*=".adlink."],[href*=".ads."],[src*=".ads."],[href*=".ads/"],[src*=".ads/"],[href*=".ads8."],[src*=".ads8."],[href*=".ads99."],[src*=".ads99."],[href*=".adsunion."],[src*=".adsunion."],[href*=".blogads."],[src*=".blogads."],[href*=".cnnic."],[src*=".cnnic."],[href*=".hao121."],[src*=".hao121."],[href*="/ad_"],[src*="/ad_"],[href*="/adimg/"],[src*="/adimg/"],[href*="_ad."],[src*="_ad."],[href*="_ads."],[src*="_ads."],[href*="/pagead/"],[src*="/pagead/"],[href*="Adtop."],[src*="AdTop."],[href*="/levelAD"],[src*="/levelAD"],[href*="topAd."],[src*="topAd."],[href*="adsina."],[src*="adsina."],[href*="allyes"],[src*="allyes"],[href*="?adsnum"],[src*="?adsnum"],[href*="/a-d-s/"],[src*="/a-d-s/"],[href*="/adcode."],[src*="/adcode."],[href*="/union/"],[src*="/union/"],[href*="&adsid="],[src*="&adsid="],[href*="17k.com/promotion/"],[src*="17k.com/promotion/"],[href*="/soyo_hd/"],[src*="/soyo_hd/"],[href*="/affiche/"],[src*="/affiche/"],[href*=".aeeboo."],[src*=".aeeboo."],[href*="/guanggao/"],[src*="/guanggao/"],[href*="adc.go.sohu"],[src*="adc.go.sohu"],[href*="doc.go.sohu"],[src*="doc.go.sohu"],[href*="www.99xqw.com"],[src*="www.99xqw.com"],[id*="baiduframe"],[src*="/gg1.js"],[src*="/gg2.js"],[href*="/in.pet.mop.com"],[src*="/in.pet.mop.com"],[href*="/VipVoteHelp.asp?BID="],[src*="/VipVoteHelp.asp?BID="],[src*="/ADFlash"],[href*="/ADFlash"],[src*="/adshow"],[href*="/adshow"],[src*="/cpro.baidu"],[src*="/banner.gif"],[src*="/ad1."],[href*="/ad1."],[src*="/ad2."],[href*="/ad2."],[src*="/ad3."],[href*="/ad3."],[src*="/ad4."],[href*="/ad4."],[src*="/ad5."],[href*="/ad5."],[src*="/ad6."],[href*="/ad6."],[src*="/ad7."],[href*="/ad7."],[src*="/ad8."],[href*="/ad8."],[src*="/ad9."],[href*="/ad9."],[src*="/ad0."],[href*="/ad0."],[src*="/Ggao/"],[src*="/ggao/"],[src*="/adunion."],[src*="/adplay."],[href*="/adplay."],[src*="/adfclick?"],[href*="/adfclick?"]
{ display: none !important }

/* 白名单 */
div[id^="add"],
div[class*="adu"],
/* greendown.cn */div[class$="download"],
/* hi.baidu.com */div[class="stagepad"],
/* bbs */div[class="viewthread"],
/* cnbeta */div[id="ADcon0"],
/* Gmail */body[class="aAU"] div[class="ads"],
/* lastpass */div[id="lppopupautofill"],
div[class*="add"]{display:block !important;}
/* blog.sina.com.cn */div[id="sina_keyword_ad_area2"]{display:block !important;}
