/*
 * Name: ADBlocker css3
 * Description: 隐藏一些通用的广告元素
*/

/* CSS 3 属性选择器
E[att^=”val”]	属性att的值以"val"开头的元素
E[att$=”val”]	属性att的值以"val"结尾的元素
E[att*=”val”]	属性att的值包含"val"字符串的元素
*/

[id="ad"],[class="ad"],
[id*="ad"]:not([id*="add"],[id*="adv"],[id*="ead"],[id*="oad"],[id*="adm"],[id*="adu"]),
[class*="ad"]:not([class*="add"],[class*="adv"],[class*="ead"],[class*="oad"],[class*="adm"],[class*="adu"]){display: none !important }

[class="gg"],[id="gg"],
[class^="gg"],[id^="gg"],
/*[class$="gg"],[id$="gg"],*/
[class*="-gg"],[id*="-gg"],
[class*="gg-"],[id*="gg-"]{display: none !important }

[id*="banner"],
[class*="banner"]:not(.goog-te-banner,[class="bannercon"]){display: none !important }

[id*="alimama"],[class*="alimama"]{display: none !important }

[href*="ad"][href*="ad"]:not([href*="add"],[href*="adv"],[href*="ead"],[href*="oad"]),
[src*="/ads/"][src*="ad"]:not([src*="add"],[src*="adv"],[src*="ead"],[src*="oad"]),
[href*="/ma.baidu.com/"],[src*="/ma.baidu.com/"],
[href*="//cpc.163"],[src*="//cpc.163"],
[href*="//gimg.baidu."],[src*="//gimg.baidu."],
[href*="//ma.baidu."],[src*="//ma.baidu."],
[href*="/union."],[src*="/union."],
[href*=".union."],[src*=".union."],
[href*="3721."],[src*="3721."],
[href*="-banner"],[src*="-banner"],
[href*=".cnnic."],[src*=".cnnic."],
[href*=".hao121."],[src*=".hao121."],
[href*="Adtop."],[src*="AdTop."],
[href*="/levelAD"],[src*="/levelAD"],
[href*="topAd."],[src*="topAd."],
[href*="allyes"],[src*="allyes"],
[href*="/a-d-s/"],[src*="/a-d-s/"],
[href*="/union/"],[src*="/union/"],
[href*="17k.com/promotion/"],[src*="17k.com/promotion/"],
[href*="/soyo_hd/"],[src*="/soyo_hd/"],
[href*="/affiche/"],[src*="/affiche/"],
[href*=".aeeboo."],[src*=".aeeboo."],
[href*="/guanggao/"],[src*="/guanggao/"],
[href*="www.99xqw.com"],[src*="www.99xqw.com"],
[href*="/in.pet.mop.com"],[src*="/in.pet.mop.com"],
[href*="/VipVoteHelp.asp?BID="],[src*="/VipVoteHelp.asp?BID="],
[href*="/ADFlash"],[src*="/ADFlash"],
[href*="baidu?tn="],[href*="_banner_"],
[href*="/mopgg."],[href*="/baidu.php?url="],
[href*=".22.cn/"],[href*=".51idc.com/"],

[src*="/gg1.js"],[src*="/gg2.js"],
[src*="/mopgg."],
[src*="/cpro.baidu"],
[src*="/banner.gif"],
[src*="/Ggao/"],[src*="/ggao/"],
[src="images/atm/1003/b_hansi_100331.gif"],
[src="images/atm/1003/b_za200_*.gif"],

iframe[src*="/s.asp?q="],
iframe[src*="ggbd"]{display: none !important }

div[id^="Bar"],div[id^="Float"],

[data-ad-client],[data-ad-slot],
.adsbygoogle,
/*.signature,#signature,.signatures,#signatures,*/

div[id^="popDiv_"],
MAP>AREA[href*="/qq."],


/* Gmail 隐藏广告 */
div[class="nH"]>div[class="nH"]>div[class="u5"],
/*,div[id*="popup"]*/
iframe#frm_tt1,

#feed-pyv-container,
#ShowQQ,#focusflash,#eteUnionUpFloat,#FrameWinLayer,.t_signature{display: none !important }

/* bbs */a[id*="thread"],a[class*="thread"],a[id*="download"],a[class*="download"]{display:inline !important;}
/* bbs */table[id*="thread"],table[class*="thread"]{display:table !important;}
/* bbs */td[id*="thread"],td[class*="thread"]{display:table-cell !important;}
