@charset "UTF-8";
/* Name: (自定义)OC 简洁版 */
/*html body {font-family: "宋体", "helvetica neue", "lucida grande", helvetica, arial, sans-serif !important;} */
.signature,.postprofile br,#jumpbox,#page-footer,.autopagerize_page_separator,#page-body>.panel>.inner,.postprofile dd>img,.postprofile dt a>img,.postprofile .profile-icons{ display:none !important;}
.postprofile dt{ margin:0 !important}
.postbody .content,.postprofile{ margin:0 !important; min-height:0 !important;}
#paginationbottom,.autopagerize_page_separator_blocks{ clear:both; line-height:20px; margin:5px 0}
DL[class="postprofile"]:nth-child(2) > DD:nth-child(8),DL[class="postprofile"]:nth-child(2) > DD:nth-child(9){ display:none}
strong.pagination{ display:inline}
#wrap .pagination:first-child{ display:block}
.postprofile dt strong{ display:block}
.postprofile:hover img{ display: block !important;}
.icon-online{ display: block !important;}
.ttopiclist tr:hover{ background-color:#f7f7f7 !important;opacity:0.1 !important}
#wrap{background: url(../../styles/images/Opera_256x256.png) no-repeat right top;}
.submit-buttons{ clear:both;}

.postprofile a[class="username-coloured"]:after{content:" MM";}
.postprofile a[href*="23517"]:after{content:"";}

